body {
	margin: 0;
	padding: 0;
	font: 12px "microsoft yahei";
	color: #222222;
	background: #F1F1F1;
}

.baikebody {
	margin: 20px auto;
	width: 1180px;
}

.baikebody .baikeleft {
	float: left;
	width: 200px;
}

.baikebody .baikeleft .lefthead {
	float: left;
	width: 200px;
	height: 38px;
	line-height: 38px;
	font-weight: bold;
	text-indent: 12px;
	background: url(/images/baike/headbg.png);
}

.baikebody .baikeleft .lefthead .headtext {
	float: left;
	width: 100px;
	text-indent: 12px;
}

.baikebody .baikeleft .lefthead .headmore {
	float: right;
	padding-right: 10px;
	width: 60px;
	text-align: right;
	font-weight: normal;
	color: #DB3962;
}

.baikebody .baikeleft .leftmain {
	float: left;
	padding: 0 10px;
	width: 180px;
	background: #FFFFFF;
}

.baikebody .baikeleft .leftmain .mainhead {
	float: left;
	margin-top: 13px;
	width: 180px;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
	text-indent: 5px;
	color: #DB3962;
	background: #FFF6F8;
}

.baikebody .baikeleft .leftmain .mainwrap {
	float: left;
	width: 180px;
	padding: 10px 0;
	border-bottom: 1px dashed #DB3962;
}

.baikebody .baikeleft .leftmain .mainwrap .nodeitem {
	float: left;
	width: 90px;
	height: 24px;
	line-height: 24px;
	text-indent: 5px;
}

.baikebody .baikeleft .leftmain .mainwrap .nodelist {
	float: left;
	width: 60px;
	height: 24px;
	line-height: 24px;
	text-indent: 5px;
}

.baikebody .baikeleft .leftmain .mainwrap .proditem {
	float: left;
	padding: 10px 30px;
}

.baikebody .baikeleft .leftadwrap {
	float: left;
	padding: 0 10px 10px 10px;
	width: 180px;
	background: #FFFFFF;
}

.baikebody .baikeleft .leftadwrap .leftaditem {
	float: left;
	padding-top: 10px;
}

.baikebody .baikeright {
	float: right;
	width: 200px;
}

.baikebody .baikeright .righthead {
	float: left;
	width: 200px;
	height: 38px;
	line-height: 38px;
	font-weight: bold;
	text-indent: 12px;
	background: url(/images/baike/headbg.png);
}

.baikebody .baikeright .righthead .headtext {
	float: left;
	width: 100px;
	text-indent: 12px;
}

.baikebody .baikeright .righthead .headmore {
	float: right;
	padding-right: 10px;
	width: 60px;
	text-align: right;
	font-weight: normal;
	color: #DB3962;
}

.baikebody .baikeright .rightmain {
	float: left;
	padding: 0 10px;
	width: 180px;
	background: #FFFFFF;
}

.baikebody .baikeright .rightmain .mainimgs {
	float: left;
	padding: 10px 0;
	width: 180px;
	border-bottom: 1px dashed #DB3962;
}

.baikebody .baikeright .rightmain .mainwrap {
	float: left;
	padding: 5px 0;
	width: 180px;
	border-bottom: 1px dashed #DB3962;
}

.baikebody .baikeright .rightmain .mainwrap .itemtext {
	float: left;
	padding-left: 20px;
	width: 160px;
	height: 28px;
	line-height: 28px;
	background: url(/images/baike/iconbg.png) no-repeat left center;
	overflow: hidden;
}

.baikebody .baikeright .rightmain .mainwrap .proditem {
	float: left;
	padding: 10px 30px;
}

.baikebody .baikecenter {
	float: left;
	margin-left: 20px;
	width: 740px;
	margin-bottom: 10px;
}

.baikebody .baikecenter .centerbanner {
	float: left;
	width: 740px;
	height: 340px;
}

.baikebody .baikecenter .onecolumnwrap {
	float: left;
	margin-top: 10px;
	width: 740px;
	background: #FFFFFF;
}

.baikebody .baikecenter .onecolumnwrap .wraphead {
	float: left;
	width: 740px;
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #CFD8E6;
	font-weight: bold;
}

.baikebody .baikecenter .onecolumnwrap .wraphead .headtext {
	float: left;
	width: 100px;
	text-indent: 15px;
}

.baikebody .baikecenter .onecolumnwrap .wraphead .headmore {
	float: right;
	padding-right: 15px;
	width: 60px;
	text-align: right;
	font-weight: normal;
	color: #DB3962;
}

.baikebody .baikecenter .onecolumnwrap .wraphead .headmore a {
	color: #e13a68;
}

.baikebody .baikecenter .onecolumnwrap .wrapimgs {
	float: left;
	margin: 11px 15px 0 15px;
	width: 710px;
	height: 150px;
	border-bottom: 1px dashed #CFD8E6;
}

.baikebody .baikecenter .onecolumnwrap .wrapimgs .imgsleft {
	float: left;
	width: 185px;
	height: 135px;
}

.baikebody .baikecenter .onecolumnwrap .wrapimgs .imgsright {
	float: right;
	width: 500px;
	height: 135px;
}

.baikebody .baikecenter .onecolumnwrap .wrapimgs .imgsright .title {
	float: left;
	width: 500px;
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	overflow: hidden;
	font-size: 14px;
}

.baikebody .baikecenter .onecolumnwrap .wrapimgs .imgsright .summary {
	float: left;
	width: 500px;
	height: 75px;
	line-height: 25px;
	overflow: hidden;
}

.baikebody .baikecenter .onecolumnwrap .wrapimgs .imgsright .summary a {
	color: #5d616e;
}

.baikebody .baikecenter .onecolumnwrap .wrapimgs .imgsright .detailgo {
	float: left;
	width: 500px;
	height: 25px;
	line-height: 25px;
	text-align: right;
	color: #DB3962;
}

.baikebody .baikecenter .onecolumnwrap .wrapline {
	float: left;
	margin: 0 15px;
	padding-left: 10px;
	width: 700px;
	height: 97px;
}

.baikebody .baikecenter .onecolumnwrap .wrapline .lineleft {
	float: left;
	padding-left: 20px;
	width: 330px;
	height: 37px;
	line-height: 37px;
	background: url(/images/baike/iconbg.png) no-repeat left center;
	border-bottom: 1px dashed #CFD8E6;
}

.baikebody .baikecenter .twocolumnwrap {
	float: left;
	margin-top: 10px;
	width: 740px;
}

.baikebody .baikecenter .twocolumnwrap .columnwrap {
	float: left;
	width: 360px;
	background: #FFFFFF;
}

.baikebody .baikecenter .twocolumnwrap .columnwrap .wraphead {
	float: left;
	width: 360px;
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #CFD8E6;
	font-weight: bold;
}

.baikebody .baikecenter .twocolumnwrap .columnwrap .wraphead .headtext {
	float: left;
	width: 100px;
	text-indent: 15px;
}

.baikebody .baikecenter .twocolumnwrap .columnwrap .wraphead .headmore {
	float: right;
	padding-right: 15px;
	width: 60px;
	text-align: right;
	font-weight: normal;
	color: #DB3962;
}

.baikebody .baikecenter .twocolumnwrap .columnwrap .wrapimgs {
	float: left;
	margin: 11px 15px 0 15px;
	width: 330px;
	height: 150px;
	border-bottom: 1px dashed #CFD8E6;
}

.baikebody .baikecenter .twocolumnwrap .columnwrap .wrapimgs .imgsleft {
	float: left;
	width: 185px;
	height: 135px;
}

.baikebody .baikecenter .twocolumnwrap .columnwrap .wrapimgs .imgsright {
	float: right;
	width: 130px;
	height: 135px;
}

.baikebody .baikecenter .twocolumnwrap .columnwrap .wrapimgs .imgsright .title {
	float: left;
	width: 130px;
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	overflow: hidden;
}

.baikebody .baikecenter .twocolumnwrap .columnwrap .wrapimgs .imgsright .summary {
	float: left;
	width: 120px;
	height: 75px;
	line-height: 25px;
	overflow: hidden;
}

.baikebody .baikecenter .twocolumnwrap .columnwrap .wrapimgs .imgsright .detailgo {
	float: left;
	width: 130px;
	height: 25px;
	line-height: 25px;
	text-align: right;
	color: #DB3962;
}

.baikebody .baikecenter .twocolumnwrap .columnwrap .wrapline {
	float: left;
	margin: 0 15px;
	padding-left: 10px;
	width: 320px;
	height: 37px;
	border-bottom: 1px dashed #CFD8E6;
}

.baikebody .baikecenter .twocolumnwrap .columnwrap .wrapline .lineleft {
	float: left;
	padding-left: 20px;
	width: 290px;
	height: 37px;
	line-height: 37px;
	background: url(/images/baike/iconbg.png) no-repeat left center;
}

.flex-control-nav {
	position: absolute;
	bottom: 10px;
	z-index: 2;
	width: 100%;
	text-align: center;
}

.flex-control-nav li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 5px;
	padding: 0;
	*display: inline;
	zoom: 1;
	list-style: none;
}

.flex-control-nav a {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 40px;
	overflow: hidden;
	background: url(/images/jquery/flexslider/dot.png) right 0 no-repeat;
	cursor: pointer;
}

.flex-control-nav .flex-active {
	background-position: 0 0;
}

.flex-direction-nav {
	position: absolute;
	z-index: 3;
	width: 100%;
	top: 45%;
}

.flex-direction-nav li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flex-direction-nav li a {
	display: block;
	width: 50px;
	height: 50px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
}

.flex-direction-nav li a.flex-prev {
	left: 40px;
	background: url(/images/jquery/flexslider/prev.png) center center no-repeat;
}

.flex-direction-nav li a.flex-next {
	right: 40px;
	background: url(/images/jquery/flexslider/next.png) center center no-repeat;
}